<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is this a scam?</title>
    <link rel="stylesheet" href="http://localhost:80/home.css">
</head>
<body>

    <h1>Is this a scam?</h1>
    <p>Check for scam in the internet and prevent being hacked or scammed.</p>


    
</body>
</html>