@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
	background-color: #3d3d3d;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fcfcfc;
}

.gray:focus,
.gray {
	background-color: #3d3d3d;
}
